{% extends "layout.html" %} {% block content %}
    <div class="breaktime">
      <h1 class="text-center" id="break-duration-clock">00:00:00</h1>
      <div id="player"></div>

    </div>
    


<script type=text/javascript> 
    $(document).ready(function(){ 
        let break_duration_secs_remaining;
        let breakDurationIntervalHandle;
        let break_freq_mins = localStorage.getItem("break_freq");
        let break_duration_mins = localStorage.getItem("break_duration");
        break_duration_secs_remaining = break_duration_mins * 60;
        const [rhours, rmins, rsecs] = get_clock_value(break_duration_secs_remaining);
        disp_time_remaining(rhours, rmins, rsecs, '#break-duration-clock');
        
        //start count down
        break_duration_secs_remaining = break_duration_mins * 60;
        breakDurationIntervalHandle = setInterval(tick, 1000)

        // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = 'https://www.youtube.com/iframe_api';
      var firstScriptTag = document.getElementsByTagName('script')[5];
      console.log("===>");
      console.log(firstScriptTag);
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
      console.log(firstScriptTag.parentNode);
      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      let startTime = 40;
      window.onYouTubeIframeAPIReady = function() {
        console.log("iframe api ready");
        player = new YT.Player('player', {
          height: '390',
          width: '640',
          videoId: 'L_xrDAtykMI',
          playerVars: {start: startTime},
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.mute();
        //event.target.unMute()
        event.target.playVideo();
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      var done = false;
      
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
          setInterval(seekTo, 13000);
          //player.seekTo(221);
          //console.log("reach state change");
          done = true;
          //player.unMute();
          //player.playVideo();
        }
      }
      function stopVideo() {
        player.stopVideo();
      }

      function seekTo() {
        //console.log("reach seekTo000000000")
        startTime += 40;
        player.seekTo(startTime, true);
      }

        function tick(){
            const [rhours, rmins, rsecs] = get_clock_value(break_duration_secs_remaining);
            //console.log(rhours, rmins, rsecs)
            break_duration_secs_remaining -= 1;
            disp_time_remaining(rhours, rmins, rsecs, '#break-duration-clock');
            if (rhours === 0 && rmins === 0 && rsecs === 0) {
                sessionStorage.setItem("break_active", true);
                clearInterval(breakDurationIntervalHandle);
                stopVideo();
                console.log("breaktime break_active " + sessionStorage.getItem("break_active"));
                break_duration_secs_remaining = break_duration_mins * 60;
                const [rhours, rmins, rsecs] = get_clock_value(break_duration_secs_remaining);
                disp_time_remaining(rhours, rmins, rsecs, '#break-duration-clock');
                if ('serviceWorker' in navigator) {
                  navigator.serviceWorker.register('/static/js/sw.js').then(function(worker){
                  console.log("reach here +++++")
                  worker.active.postMessage({type: "BREAK_OVER"});
                  });
                }
                $.ajax({
                    url: "/",
                    type: "POST",
                    contentType: "application/json",
                    data: {},
                    success: function(data, status) {
                        //.log("***********set break finished*********");
                        //window.location.replace("/");
                        window.close();
                        console.log("back to homepage success, status: " + status);
                    },
                    error: function(err) {
                        console.log("back to homepage post fail: " + JSON.stringify(err));
                    }
                });
                
            }
        }

        function disp_time_remaining(rhours, rmins, rsecs, element) {
                const break_timer = getDisplayTime(rhours) + ":" + getDisplayTime(rmins) + ":" + getDisplayTime(rsecs);
                $(element).text(break_timer);
            }
        
            function get_clock_value(secs_remaining) {
                const hours =  secs_remaining / 60 / 60;
                const rhours = Math.floor(hours);
                const minutes = (hours - rhours) * 60;
                const rminutes = Math.floor(minutes);
                const seconds = (minutes - rminutes) * 60;
                const rseconds = Math.round(seconds);
                return [rhours, rminutes, rseconds];
                console.log(rhours)
            }

            function getDisplayTime(val) {
                return val < 10 ? `0${val}` : val;
            }

    });
</script>
{% endblock content %}
