{% extends "layout.html" %} {% block content %}
    <!-- <div id="text1">
      hello world
    </div> -->
    <div class="clock-wrapper">
        <div class="bg"></div>
        <div class="knob-btn" id="start-break-btn">
          <div class="knob"></div>
          <div class="knob-lines" id="knob-lines">
            <div class="knob-line"></div>
            <div class="knob-line"></div>
            <div class="knob-line"></div>
            <div class="knob-line"></div>
            <div class="knob-line"></div>
            <div class="knob-line"></div>
            <div class="knob-line"></div>
            <div class="knob-line"></div>
            <div class="knob-line"></div>
            <div class="knob-line"></div>
            <div class="knob-line"></div>
            <div class="knob-line"></div>
            <div class="knob-line"></div>
            <div class="knob-line"></div>
            <div class="knob-line"></div>
          </div>
        </div>
        
        <input class="btn-codepen" placeHolder="frequency" type="number" id="break-freq"/>
        <input class="btn-codepen radio-btn" placeHolder="duration" type="number" id="break-duration"/>
        <div class="logo">MINS</div>
        <div class="minutes">
          <div class="dizaines">
            <div class="number is-active" id="minutes-dizaines-0">
              <div class="up">
                <div class="digit">0</div>
              </div>
              <div class="down">
                <div class="digit">0</div>
              </div>
            </div>
            <div class="number" id="minutes-dizaines-1">
              <div class="up">
                <div class="digit">1</div>
              </div>
              <div class="down">
                <div class="digit">1</div>
              </div>
            </div>
            <div class="number" id="minutes-dizaines-2">
              <div class="up">
                <div class="digit">2</div>
              </div>
              <div class="down">
                <div class="digit">2</div>
              </div>
            </div>
            <div class="number" id="minutes-dizaines-3">
              <div class="up">
                <div class="digit">3</div>
              </div>
              <div class="down">
                <div class="digit">3</div>
              </div>
            </div>
            <div class="number" id="minutes-dizaines-4">
              <div class="up">
                <div class="digit">4</div>
              </div>
              <div class="down">
                <div class="digit">4</div>
              </div>
            </div>
            <div class="number outgoing" id="minutes-dizaines-5">
              <div class="up">
                <div class="digit">5</div>
              </div>
              <div class="down">
                <div class="digit">5</div>
              </div>
            </div>
          </div>
          <div class="unites">
      <div class="number is-active" id="minutes-unites-0">
        <div class="up">
          <div class="digit">0</div>
        </div>
        <div class="down">
          <div class="digit">0</div>
        </div>
      </div>
      <div class="number" id="minutes-unites-1">
        <div class="up">
          <div class="digit">1</div>
        </div>
        <div class="down">
          <div class="digit">1</div>
        </div>
      </div>
      <div class="number" id="minutes-unites-2">
        <div class="up">
          <div class="digit">2</div>
        </div>
        <div class="down">
          <div class="digit">2</div>
        </div>
      </div>
      <div class="number" id="minutes-unites-3">
        <div class="up">
          <div class="digit">3</div>
        </div>
        <div class="down">
          <div class="digit">3</div>
        </div>
      </div>
      <div class="number" id="minutes-unites-4">
        <div class="up">
          <div class="digit">4</div>
        </div>
        <div class="down">
          <div class="digit">4</div>
        </div>
      </div>
      <div class="number" id="minutes-unites-5">
        <div class="up">
          <div class="digit">5</div>
        </div>
        <div class="down">
          <div class="digit">5</div>
        </div>
      </div>
      <div class="number" id="minutes-unites-6">
        <div class="up">
          <div class="digit">6</div>
        </div>
        <div class="down">
          <div class="digit">6</div>
        </div>
      </div>
      <div class="number" id="minutes-unites-7">
        <div class="up">
          <div class="digit">7</div>
        </div>
        <div class="down">
          <div class="digit">7</div>
        </div>
      </div>
      <div class="number" id="minutes-unites-8">
        <div class="up">
          <div class="digit">8</div>
        </div>
        <div class="down">
          <div class="digit">8</div>
        </div>
      </div>
      <div class="number outgoing" id="minutes-unites-9">
        <div class="up">
          <div class="digit">9</div>
        </div>
        <div class="down">
          <div class="digit">9</div>
        </div>
      </div>
    </div>
        </div>
        <div class="hours">
          <div class="dizaines">
            <div class="number is-active" id="hours-dizaines-0">
              <div class="up">
                <div class="digit">0</div>
              </div>
              <div class="down">
                <div class="digit">0</div>
              </div>
            </div>
            <div class="number outgoing" id="hours-dizaines-1">
              <div class="up">
                <div class="digit">1</div>
              </div>
              <div class="down">
                <div class="digit">1</div>
              </div>
            </div>
            <div class="number" id="hours-dizaines-2">
              <div class="up">
                <div class="digit">2</div>
              </div>
              <div class="down">
                <div class="digit">2</div>
              </div>
            </div>
            <div class="number" id="hours-dizaines-3">
              <div class="up">
                <div class="digit">3</div>
              </div>
              <div class="down">
                <div class="digit">3</div>
              </div>
            </div>
            <div class="number" id="hours-dizaines-4">
              <div class="up">
                <div class="digit">4</div>
              </div>
              <div class="down">
                <div class="digit">4</div>
              </div>
            </div>
            <div class="number" id="hours-dizaines-5">
              <div class="up">
                <div class="digit">5</div>
              </div>
              <div class="down">
                <div class="digit">5</div>
              </div>
            </div>
            <div class="number" id="hours-dizaines-6">
              <div class="up">
                <div class="digit">6</div>
              </div>
              <div class="down">
                <div class="digit">6</div>
              </div>
            </div>
            <div class="number" id="hours-dizaines-7">
              <div class="up">
                <div class="digit">7</div>
              </div>
              <div class="down">
                <div class="digit">7</div>
              </div>
            </div>
            <div class="number" id="hours-dizaines-8">
              <div class="up">
                <div class="digit">8</div>
              </div>
              <div class="down">
                <div class="digit">8</div>
              </div>
            </div>
            <div class="number" id="hours-dizaines-9">
              <div class="up">
                <div class="digit">9</div>
              </div>
              <div class="down">
                <div class="digit">9</div>
              </div>
            </div>
          </div>
          <div class="unites">
            <div class="number is-active" id="hours-unites-0">
              <div class="up">
                <div class="digit">0</div>
              </div>
              <div class="down">
                <div class="digit">0</div>
              </div>
            </div>
            <div class="number" id="hours-unites-1">
              <div class="up">
                <div class="digit">1</div>
              </div>
              <div class="down">
                <div class="digit">1</div>
              </div>
            </div>
            <div class="number" id="hours-unites-2">
              <div class="up">
                <div class="digit">2</div>
              </div>
              <div class="down">
                <div class="digit">2</div>
              </div>
            </div>
            <div class="number" id="hours-unites-3">
              <div class="up">
                <div class="digit">3</div>
              </div>
              <div class="down">
                <div class="digit">3</div>
              </div>
            </div>
            <div class="number" id="hours-unites-4">
              <div class="up">
                <div class="digit">4</div>
              </div>
              <div class="down">
                <div class="digit">4</div>
              </div>
            </div>
            <div class="number" id="hours-unites-5">
              <div class="up">
                <div class="digit">5</div>
              </div>
              <div class="down">
                <div class="digit">5</div>
              </div>
            </div>
            <div class="number" id="hours-unites-6">
              <div class="up">
                <div class="digit">6</div>
              </div>
              <div class="down">
                <div class="digit">6</div>
              </div>
            </div>
            <div class="number" id="hours-unites-7">
              <div class="up">
                <div class="digit">7</div>
              </div>
              <div class="down">
                <div class="digit">7</div>
              </div>
            </div>
            <div class="number" id="hours-unites-8">
              <div class="up">
                <div class="digit">8</div>
              </div>
              <div class="down">
                <div class="digit">8</div>
              </div>
            </div>
            <div class="number outgoing" id="hours-unites-9">
              <div class="up">
                <div class="digit">9</div>
              </div>
              <div class="down">
                <div class="digit">9</div>
              </div>
            </div>
          </div>
        </div> <!-- end of hours class -->
        <div class="seconds-wrapper">
          <div class="seconds" id="seconds">
            <div class="second">0</div>
            <div class="second">1</div>
            <div class="second">2</div>
            <div class="second">3</div>
            <div class="second">4</div>
            <div class="second">5</div>
            <div class="second">6</div>
            <div class="second">7</div>
            <div class="second">8</div>
            <div class="second">9</div>
            <div class="second">10</div>
            <div class="second">11</div>
            <div class="second">12</div>
            <div class="second">13</div>
            <div class="second">14</div>
            <div class="second">15</div>
            <div class="second">16</div>
            <div class="second">17</div>
            <div class="second">18</div>
            <div class="second">19</div>
            <div class="second">20</div>
            <div class="second">21</div>
            <div class="second">22</div>
            <div class="second">23</div>
            <div class="second">24</div>
            <div class="second">25</div>
            <div class="second">26</div>
            <div class="second">27</div>
            <div class="second">28</div>
            <div class="second">29</div>
            <div class="second">30</div>
            <div class="second">31</div>
            <div class="second">32</div>
            <div class="second">33</div>
            <div class="second">34</div>
            <div class="second">35</div>
            <div class="second">36</div>
            <div class="second">37</div>
            <div class="second">38</div>
            <div class="second">39</div>
            <div class="second">40</div>
            <div class="second">41</div>
            <div class="second">42</div>
            <div class="second">43</div>
            <div class="second">44</div>
            <div class="second">45</div>
            <div class="second">46</div>
            <div class="second">47</div>
            <div class="second">48</div>
            <div class="second">49</div>
            <div class="second">50</div>
            <div class="second">51</div>
            <div class="second">52</div>
            <div class="second">53</div>
            <div class="second">54</div>
            <div class="second">55</div>
            <div class="second">56</div>
            <div class="second">57</div>
            <div class="second">58</div>
            <div class="second">59</div>
          </div> <!-- end of seconds -->
  </div>
    </div> <!-- end of clock-wrapper-->
    <!-- <h1 class="text-center" id="break-freq-clock">00:00:00</h1> -->
    <!-- <div class="col-sm align-self-center">
        <div class="text-center">
            <button type="button" class="btn btn-primary" id="push-enable-btn">Push Notification Enable</button>
        </div>
        <div class="text-center">
            <button type="button" class="btn btn-primary" id="push-btn">Send Push Notification</button>
        </div>
        <section class="subscription-details js-subscription-details is-invisible">
            <p>Once you've subscribed your user, you'd send their subscription to your
                server to store in a database so that when you want to send a message
                you can lookup the subscription and send a message to it.</p>
            <p>To simplify things for this code lab copy the following details
                into the <a href="https://web-push-codelab.glitch.me//">Push Companion
                    Site</a> and it'll send a push message for you, using the application
                server keys on the site - so make sure they match.</p>
            <pre><code class="js-subscription-json"></code></pre>
        </section>
    </div> -->

<script type=text/javascript>
    $(document).ready(function(){
        let break_mins = localStorage.getItem("break_freq");
        let break_duration = localStorage.getItem("break_duration");
        let break_active = ssParseBoolean("break_active");
        let break_secs_remaining;
        let breakIntervalHandle;

        const REFRESH_PAGE = 1;
        const REDIRECT_PAGE = 0;
        const navType = window.performance.navigation.type;

        if(navType == REFRESH_PAGE) {
            sessionStorage.setItem("break_active", false); 
        }
        if(!isNaN(break_mins) && !isNaN(break_duration) && (break_mins !== '') && (break_duration !== '')) {
            $("#break-freq").val(break_mins);
            $("#break-duration").val(break_duration);
            break_secs_remaining = break_mins * 60;
            const [rhours, rmins, rsecs] = get_clock_value(break_secs_remaining);
            disp_time_remaining(rhours, rmins, rsecs, '#break-freq-clock');
        }
        $('#break-freq').on('input', function() {
            break_mins = $('#break-freq').val();
            localStorage.setItem("break_freq", break_mins);
            break_secs_remaining = break_mins * 60;
            const [rhours, rmins, rsecs] = get_clock_value(break_secs_remaining);
            disp_time_remaining(rhours, rmins, rsecs, '#break-freq-clock')
        });

        $('#break-duration').on('input', function() {
            break_duration = $('#break-duration').val();
            localStorage.setItem("break_duration", break_duration);
        });

        $("#start-break-btn").click(function(){
            break_active = ssParseBoolean("break_active");
            if(break_active === false || break_active === null) {
                break_secs_remaining = break_mins * 60;
                sessionStorage.setItem("break_active", true);
                breakIntervalHandle = setInterval(tick1, 1000);
                const [rhours, rmins, rsecs] = get_clock_value(break_secs_remaining);
                playSecsAnimation(60-rsecs);
            }else{
                alert("program is already running");
            }
        });

        navigator.serviceWorker.onmessage = (event) => {
            if (event.data && event.data.type === 'OPEN_BREAK_TIMER') {
                //console.log("post message: " + event.data.count)
                //window.location.replace("/breaktime");
                window.open("/breaktime");
                //let goBack = window.open("/breaktime", "_self");
                //goBack.focus();
            }
        };

        navigator.serviceWorker.addEventListener("message", (event) => {
          // event is a MessageEvent object
          if (event.data.type == "START_WORKING") {
              console.log(
                  `=====The service worker sent me a message: ${event.data}`
              );
              //document.getElementById("text1").innerHTML = "yourTextHere";
                break_secs_remaining = break_mins * 60;
                sessionStorage.setItem("break_active", true);
                breakIntervalHandle = setInterval(tick1, 1000);
                const [rhours, rmins, s] = get_clock_value(break_secs_remaining);
                startSeconds(60-s);
          }
        });

        // Set the name of the hidden property and the change event for visibility
        var hidden, visibilityChange; 
        if (typeof document.hidden !== "undefined") { // Opera 12.10 and Firefox 18 and later support 
          hidden = "hidden";
          visibilityChange = "visibilitychange";
        } else if (typeof document.msHidden !== "undefined") {
          hidden = "msHidden";
          visibilityChange = "msvisibilitychange";
        } else if (typeof document.webkitHidden !== "undefined") {
          hidden = "webkitHidden";
          visibilityChange = "webkitvisibilitychange";
        }
        
        //let animationElement = document.getElementById("seconds");

        // If the page is hidden, pause the video;
        // if the page is shown, play the video
        function handleVisibilityChange() {
          const animationElement = document.getElementById("seconds");
          if (document[hidden]) {
            //console.log("reach hidden");
            animationElement.style.webkitAnimation = 'none'; 
          } else {
            const [rhours, rmins, s] = get_clock_value(break_secs_remaining);
            break_active = sessionStorage.getItem("break_active");
            break_active = ssParseBoolean("break_active");
            
            if(break_active) {
              //console.log("reach break active");
              playSecsAnimation(60-s);
            }else {
              //console.log("reach break inactive");
              animationElement.style.webkitAnimation = 'none';
            }
            
          }
        }

        // Warn if the browser doesn't support addEventListener or the Page Visibility API
        if (typeof document.addEventListener === "undefined" || hidden === undefined) {
          console.log("This demo requires a browser, such as Google Chrome or Firefox, that supports the Page Visibility API.");
        } else {
          // Handle page visibility change   
          document.addEventListener(visibilityChange, handleVisibilityChange, false);

        }

        function tick1(){
            break_secs_remaining -= 1;
            const [rhours, rmins, rsecs] = get_clock_value(break_secs_remaining);
            //console.log(rhours, rmins, rsecs)
            disp_time_remaining(rhours, rmins, rsecs, '#break-freq-clock');
            if (rhours === 0 && rmins === 0 && rsecs === 0) {
                stopSecsAnimation();
                console.log("______________ IT'S TIME TO TAKE A BREAK _____________")
                clearInterval(breakIntervalHandle);
                sessionStorage.setItem("break_active", false);
                break_secs_remaining = break_mins * 60;
                const [rhours, rmins, rsecs] = get_clock_value(break_secs_remaining);
                disp_time_remaining(rhours, rmins, rsecs, '#break-freq-clock')
                //window.open("/breaktime")
                const subscription_json = localStorage.getItem("subscription_json");
                const data = {subscription_info: subscription_json};
                fetch("/api/notify_single", {
                    method: "POST",
                    body: JSON.stringify(data),
                });
                console.log("send push notification")
            }
            
        }

        function disp_time_remaining(rhours, rmins, rsecs, element) {
            const hours = (rhours >= 99) ? '99' : getDisplayTime(rhours);
            const mins = (rhours >= 99) ? '59' : getDisplayTime(rmins);
            const secs = getDisplayTime(rsecs);

            let h = hours.split("").map(x => parseInt(x, 10));
            let m = mins.split("").map(x => parseInt(x, 10));

            starttime(h, m, rsecs);
        }
    
        function get_clock_value(secs_remaining) {
            const hours =  secs_remaining / 60 / 60;
            const rhours = Math.floor(hours);
            const minutes = (hours - rhours) * 60;
            const rminutes = Math.floor(minutes);
            const seconds = (minutes - rminutes) * 60;
            const rseconds = Math.round(seconds);
            return [rhours, rminutes, rseconds];
        }

        function getDisplayTime(val) {
            return val < 10 ? `0${val}` : val.toString();
        }

        function ssParseBoolean(pre) {
            return sessionStorage.getItem(pre) === 'true';
        }

    });
    function starttime(h, m, s) {
      // let's clear the old outgoing
      let oldOutgoing = document.querySelectorAll('.outgoing');
      let i;
      for (i = 0; i < oldOutgoing.length; i++) {
          oldOutgoing[i].className = 'number';
      }

      // clear the old actives
      let oldActive = document.querySelectorAll('.is-active');
      let j;
      for (j = 0; j < oldActive.length; j++) {
          oldActive[j].className = 'number';
      }

      let minutesDizainesOutgoingId = m[0] + 1 === 6 ? 4 : m[0] + 1;
      let minutesDizainesOutgoing = document.getElementById('minutes-dizaines-' + minutesDizainesOutgoingId);
      let minutesDizaines = document.getElementById('minutes-dizaines-' + m[0]);
      var minutesUnitesOutgoingId = m[1] + 1 === 10 ? 8 : m[1] + 1;
      var minutesUnitesOutgoing = document.getElementById('minutes-unites-' + minutesUnitesOutgoingId);
      var minutesUnites = document.getElementById('minutes-unites-' + m[1]);

      minutesDizaines.className = 'number is-active';
      minutesDizainesOutgoing.className = 'number outgoing';
      minutesUnites.className = 'number is-active';
      minutesUnitesOutgoing.className = 'number outgoing';

      // let's get hours going
      var hoursDizainesOutgoingId = h[0] - 1 === -1 ? 1 : h[0] - 1;
      var hoursDizainesOutgoing = document.getElementById('hours-dizaines-' + hoursDizainesOutgoingId);
      var hoursDizaines = document.getElementById('hours-dizaines-' + h[0]);

      var hoursUnitesOutgoingId = h[1] - 1 === -1 ? 9 : h[1] - 1;
      var hoursUnitesOutgoing = document.getElementById('hours-unites-' + hoursUnitesOutgoingId);
      var hoursUnites = document.getElementById('hours-unites-' + h[1]);

      hoursDizaines.className = 'number is-active';
      hoursDizainesOutgoing.className = 'number outgoing';
      hoursUnites.className = 'number is-active';
      hoursUnitesOutgoing.className = 'number outgoing';

    }

    function startSeconds(s) {
      playSecsAnimation(60-s);

      //secondsElement.style.mozAnimationDelay = -s + 's';
      //secondsElement.style.mozAnimationPlayState = 'running';

      //secondsElement.style.msAnimationDelay = -s + 's';
      //secondsElement.style.msAnimationPlayState = 'running';

      //secondsElement.style.animationDelay = -s + 's';
      //secondsElement.style.animationPlayState = 'running';
    }

    function playSecsAnimation(s) {
      //console.log(`seconds ${typeof seconds}`);
      let secondsElement = document.getElementById('seconds');
      console.log('secondsTick 60s ' + -s + 's infinite reverse linear');
      secondsElement.style.webkitAnimation = 'secondsTick 60s ' + -s + 's infinite reverse linear'; 
      // apparently webkiteAnimationDelay doesn't work properly, i'm probably missing something but this seems to fix it
      secondsElement.style.webkitAnimationPlayState = 'running';
      
      secondsElement.style.mozAnimationDelay = -s + 's';
      secondsElement.style.mozAnimationPlayState = 'running';

      secondsElement.style.msAnimationDelay = -s + 's';
      secondsElement.style.msAnimationPlayState = 'running';

      secondsElement.style.animationDelay = -s + 's';
      secondsElement.style.animationPlayState = 'running';;

    }
    function stopSecsAnimation() {
      let secondsElement = document.getElementById('seconds');
      secondsElement.style.webkitAnimation = "none";
    }
</script>
{% endblock content %}
